<% if @over_ten %>
  <%= link_to 'Show More', '?m=all' %>
<% end %>

<ul class="recommendations-list">
  <% @messages.each do |message| %>
    <% if message.body %>
      <% user = User.find(message.user_id) %>
      <li class="recommendation-item">
        <p class="recommendation-content"><%= user.user_email %></p>
        <p class="recommendation-content"><%= message.body %></p>
      </li>
  <% end %>
</ul>

<%= form_for [@conversation, @message], html do |f| %>
  <div class="form-field">
    <%= f.text_area :body %>
  </div>
  <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
  <div class="submit-button">
    <%= f.submit "Send" %>
  </div>
  <% end %>
