<h3>Welcome, <%= @profile.first_name %>!</h3>

<ul>
  <li>First Name: <%= @profile.first_name %></li>
  <li>Last Name: <%= @profile.last_name %></li>
  <li>Years in Practice: <%= @profile.years_in_practice %></li>
  <li>Bio: <%= @profile.profile_description %></li>

  <% if @profile.teacher = true %>
  <li>You're listed as a teacher! Here are your books and stuff...</li>
  <% end %>

  <li>Inbox</li>
  <li>Friends</li>
  <li>Friend Requests</li>
</ul>
