<h3><%= @retreat.retreat_name %></h3>

<ul>
  <li>Description: <%= @retreat.retreat_description %></li>
  <li>More info here: <%= @retreat.retreat_link_to_info %></li>
  <li>Book now: <%= @retreat.retreat_link_to_booking %></li>
  <li>Hosted by: <%= @retreat.profiles.first.first_name %></li>
  <li>Photos: Coming soon!</li>
  <li>RECOMMEND ME!</li>
</ul>
