<h3> RETREATS </h3>
<ul>
  <% @retreats.each do |retreat| %>
  <li>
    <span> Retreat: "<%= link_to retreat.retreat_name, retreat_path(retreat.id) %>"</span>
    <span> By: <%= retreat.profiles.first.first_name %></span>
    <span> ID: <%= retreat.id %>
  </li>
  <% end %>
</ul>

<h3> COURSES </h3>
<ul>
  <% @courses.each do |course| %>
  <li>
    <span> Course: "<%= link_to course.course_name %>"</span>
    <span> By: <%= course.profiles.first.first_name %></span>
  </li>
  <% end %>
</ul>

<h3> BOOKS </h3>
<ul>
  <% @books.each do |book| %>
  <li>
    <span> Book: "<%= link_to book.book_name %>"</span>
    <span> By: <%= book.profiles.first.first_name %></span>
  </li>
  <% end %>
</ul>
