<h3> RETREATS </h3>
<ul>
  <% @retreats.each do |retreat| %>
  <li>
    <span> Retreat: "<%= retreat.retreat_name %>"</span>
    <span> By: <%= retreat.profiles.first.first_name %></span>
  </li>
  <% end %>
</ul>

<h3> COURSES </h3>
<ul>
  <% @courses.each do |course| %>
  <li>
    <span> Course: "<%= course.course_name %>"</span>
    <span> By: <%= course.profiles.first.first_name %></span>
  </li>
  <% end %>
</ul>

<h3> BOOKS </h3>
<ul>
  <% @books.each do |book| %>
  <li>
    <span> Book: "<%= book.book_name %>"</span>
    <span> By: <%= book.profiles.first.first_name %></span>
  </li>
  <% end %>
</ul>
