<h3 class="page-header"> COURSES </h3>
<!-- SEARCH STUFF -->
<div class="SearchField">
<div><%= form_tag courses_path, :method => 'get' do %>
<%= text_field_tag :search, params[:search], placeholder: "search for a course..", class: "form-control"%></div>
<% end %>
<!-- END OF SEARCH FIELD -->

<div class="filtering">
  <%= link_to "Order A-Z", by_course_name_courses_path %>
  <%= link_to "Order by latest", by_latest_courses_path %>
  <%= link_to "All", courses_path %>
</div>

  <ul class="container">
    <% @courses.each do |course| %>
    <li class="specific-component-info-all">

      <div class="component-image">
        <% course_photo = @coursephotos.find(course.id) %>
        <%= link_to course_path(course.id) do %>
          <%= image_tag course_photo.course_image, size: "300x200" %>
        <% end %>
      </div>

      <div class="specific-component-header"><%= course.course_name %>
      </br> by <%= course.profiles.first.first_name %>
      </div>

    </li>
    <% end %>
  </ul>
