<h3><%= @course.course_name %></h3>

<ul>
  <li>Description: <%= @course.course_description %></li>
  <li>More info here: <%= @course.course_link_to_info %></li>
  <li>Book now: <%= @course.course_link_to_booking %></li>
  <li>Hosted by: <%= @course.profiles.first.first_name %></li>
  <li>Photos: Coming soon!</li>
  <li>RECOMMEND ME!</li>
</ul>
